@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../assets/fonts/Gilroy-Bold.ttf');
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../assets/fonts/Gilroy-Medium.ttf');
}
.Login{
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background: url('../assets/images/BackGround.png') no-repeat center center;
    background-size: cover;
    margin:0%;
    padding:0%;
}
.glass{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 7%;
    width: 20%;
    height: 60%;  
    backdrop-filter: blur(6px);
    align-items: center;
}
.FormDiv{
        padding-left: 60px;
}
.inputField{
    font-family: 'Gilroy-Medium', sans-serif;
    border-radius:5px;
    padding:8px;
    border:0;
    outline: 0;
    color:rgb(138, 140, 142);
}
.inputField::placeholder{
    color:rgb(181, 184, 187);
}
.SmallFonts{
    color: white;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size:13px;
}
.button{
    background-color: #003465;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    border-radius:5px;
    padding:8px;
    border:0;
    outline: 0;
    text-align: center;
    width: 175px;

}